* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: grid;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "mobile-upper"
    "mobile-lower";
  max-width: 100%;
  border-style: solid;
}

.nested-upper {
  grid-area: mobile-upper;
  background-image: url("assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
  max-height: 100%;
  background-size: cover;
  background-position: center;
}

.nav-button {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border: none;
  z-index: 3;
}

button span {
  display: block;
  width: 90%;
  height: 11px;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 15px;
}

span:nth-child(1) {
  position: relative;
  left: 5px;
  transition: all 0.3s ease-in-out;
}
span:nth-child(2) {
  position: relative;
  right: 5px;
  transition: all 0.3s ease-in-out;
}
span:nth-child(3) {
  position: relative;
  left: 5px;
  transition: all 0.3s ease-in-out;
}
input:hover + nav > button > span:nth-child(1),
input:hover + nav > button > span:nth-child(3) {
  left: 0;
}
input:hover + nav > button > span:nth-child(2) {
  right: 0px;
}
input {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 4;
  width: 90px;
  height: 90px;
  padding-right: 20px;
  opacity: 0;
  cursor: pointer;
}
input:checked + nav > button > span:nth-child(1) {
  top: 21px;
  transform: rotate(-45deg);
}
input:checked + nav > button > span:nth-child(2) {
  opacity: 0;
}
input:checked + nav > button > span:nth-child(3) {
  transform: rotate(45deg);
  bottom: 20px;
}
.popup-menu {
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 2;
  opacity: 0;
}
input:checked + nav > .popup-menu {
  visibility: visible;
  opacity: 1;
}
.popup-menu > ul {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 25%;
}
.popup-menu > ul > li {
  font-family: Rubik, sans-serif;
  font-size: 3em;
  list-style: none;
  font-weight: 900;
  text-shadow: 1px 3px grey;
}
.to-the-moon {
  width: 40%;
  height: 25%;
  min-height: 270px;
  min-width: 200px;
  border-style: solid;
  border-width: thick;
  text-align: center;
  position: relative;
  margin-left: 8%;
  margin-top: 12%;
  font-family: Rubik, sans-serif;
}
.to-the-moon h1 {
  font-size: 3.5em;
  margin-top: 18px;
  font-weight: 900;
}
.to-the-moon a {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 1.2em;
}
.to-the-moon p {
  margin-bottom: 0px;
}
.arrow-move-r{
  position: relative;
  font-size: 1.5em;
  margin-bottom: 0px;
  top: 1px;
  transition: all 0.3s ease-in-out;
}
.to-the-moon > a:hover + .arrow-move-r{
  left: 15px;
}
.nested-lower {
  grid-area: mobile-lower;
  height: 100vh;
  max-width: 100%;
  background-image: url("assets/photos/mobile-2.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 210px auto auto auto;
  grid-template-areas: 
  "header1"
  "text1"
  "blockquote"
  "text2";
  color: white;
  padding: 8%;
  padding-top: 0;
  font-family: Rubik, sans-serif;
  overflow: auto;
}
.text1, .qoute, .text2{
  line-height: 1.7;
}
.header-p2{
  grid-area:header1;
  position: relative;
  font-weight: 900;
  padding-left: 5%;
}
.header-p2 > h2{
  position: absolute;
  top:55px;
  font-size: 4.2em;
  z-index: 2;
  margin: 0;
}
.header-p2 > h3{
  position: absolute;
  left: 80px;
  bottom: 50px;
  z-index: 0;
  font-size: 4.5em;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.text1{
  grid-area:text1;
}
.qoute{
  grid-area:blockquote;
  font-size: 1.5em;
  margin: 0;
  font-weight: 100;
  font-style: italic;
  line-height: 1.4;
  padding-left: 10%;
}
.text2{
  grid-area:text2;
}
