* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: grid;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "mobile-upper"
    "mobile-lower";
  max-width: 100%;
  border-style: solid;
}
.nested-upper {
  grid-area: mobile-upper;
  background-image: url("assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
  max-height: 100%;
  background-size: cover;
  background-position: center;
}
.nav-button {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border: none;
  z-index: 5;
}
button span {
  display: block;
  width: 90%;
  height: 11px;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 15px;
}
button > span:nth-child(1) {
  position: relative;
  left: 5px;
  transition: all 0.3s ease-in-out;
}
button > span:nth-child(2) {
  position: relative;
  right: 5px;
  transition: all 0.3s ease-in-out;
}
button > span:nth-child(3) {
  position: relative;
  left: 5px;
  transition: all 0.3s ease-in-out;
}
input:hover + nav > button > span:nth-child(1),
input:hover + nav > button > span:nth-child(3) {
  left: 0;
}
input:hover + nav > button > span:nth-child(2) {
  right: 0px;
}
input {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 6;
  width: 90px;
  height: 90px;
  padding-right: 20px;
  opacity: 0;
  cursor: pointer;
}
input:checked + nav > button > span:nth-child(1) {
  top: 21px;
  transform: rotate(-45deg);
}
input:checked + nav > button > span:nth-child(2) {
  opacity: 0;
}
input:checked + nav > button > span:nth-child(3) {
  transform: rotate(45deg);
  bottom: 20px;
}
.popup-menu {
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 4;
  opacity: 0;
}
input:checked + nav > .popup-menu {
  visibility: visible;
  opacity: 1;
}
.popup-menu > ul {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 25%;
}
.popup-menu > ul > li {
  font-family: Rubik, sans-serif;
  font-size: 3em;
  list-style: none;
  font-weight: 900;
  text-shadow: 1px 3px grey;
  text-transform: uppercase;
}
.to-the-moon {
  width: 40%;
  height: 25%;
  min-height: 270px;
  min-width: 200px;
  border-style: solid;
  border-width: thick;
  text-align: center;
  position: relative;
  margin-left: 8%;
  margin-top: 12%;
  font-family: Rubik, sans-serif;
}
.to-the-moon > h1 {
  font-size: 3.5em;
  margin-top: 18px;
  font-weight: 900;
  text-transform: uppercase;
}
.to-the-moon > div {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 1.2em;
}
.arrow-move-r {
  position: relative;
  font-size: 2em;
  top: 5px;
  left: 5px;
  transition: all 0.3s ease-in-out;
}
.to-the-moon > div > a:hover + .arrow-move-r {
  left: 15px;
}
.nested-lower {
  grid-area: mobile-lower;
  height: 100vh;
  max-width: 100%;
  background-image: url("assets/photos/mobile-2.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px auto auto auto;
  grid-template-areas:
    "header1"
    "text1"
    "blockquote"
    "text2";
  color: white;
  padding: 7%;
  padding-top: 0;
  font-family: Rubik, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}
.text1,
.qoute,
.text2 {
  line-height: 1.6;
}
.header-p2 {
  grid-area: header1;
  font-weight: 900;
  padding-left: 5%;
  padding-top: 10%;
}
.header-p2 > h2 > span:nth-child(1) {
  position: relative;
  top: 0x;
  font-size: 3em;
  z-index: 2;
  margin: 0;
}
.header-p2 > h2 > span:nth-child(2) {
  position: relative;
  right: 135px;
  top: 28px;
  z-index: 0;
  font-size: 3.2em;
  color: grey;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}
.text1 {
  grid-area: text1;
}
.qoute {
  grid-area: blockquote;
  font-size: 1.5em;
  margin: 0;
  font-weight: 100;
  font-style: italic;
  line-height: 1.4;
  padding-left: 10%;
}
.text2 {
  grid-area: text2;
}
.text2 > a {
  color: rgb(209, 0, 161);
  text-decoration: underline;
}
.text2 > span {
  position: relative;
  color: rgb(209, 0, 161);
  font-size: 1.8em;
  margin-left: 5px;  
  top: 3px;
  transition: all 0.3s ease-in-out;
} /* Transition fungerar ej som de ska här, kan inte förstå förvaför inte ännu, återkmr hit */
.text2 > a:hover + span {
  left: 15px;
}